/*-- scss:defaults --*/
$my-bg: #fbf8ef;
$my-fg: #100a14;
$my-linkcolor: #a31db1;

$h2-font-size:          1.6rem !default;
$headings-font-weight:  500 !default;
$font-family-base: "Helvetica Neue";

$body-bg: $my-bg;
$body-color: $my-fg;
$link-color: $my-linkcolor;
